In [23]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_csv("50_Startups.csv")
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [46]:
data= df.drop(["State"], axis=1)

In [47]:
data.head()

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

In [40]:
# from sklearn.preprocessing import LabelEncoder

In [41]:
# lbl= LabelEncoder()

In [49]:
# data['State'].unique()

In [43]:
# data["State"] = lbl.fit_transform(data["State"])

In [54]:
data.head()

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

In [57]:
x = data.iloc[:, 0:3]
x.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [59]:
# y = data["Profit"]
y= data.iloc[:, -1]
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [60]:
from sklearn.model_selection import train_test_split

In [80]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2)

In [81]:
x_train.shape

(40, 3)

In [95]:
class myalgo:
    def __init__(self):
        self.coef = None
        self.intercept = None

    def fit(self, x_train, y_train):
        x_train_new = np.insert(x_train, 0, 1, axis = 1)  
        # in this we are taking a new variable and placnig one's at the 0'th position at the axis= 1 or at the column

        by_betas= np.linalg.inv(np.dot(x_train_new.T, x_train_new)).dot(x_train_new.T).dot(y_train)

        print(f"All Beta values: {by_betas}")
        print(f"Coeficient value: {by_betas[1:]}")
        print(f"Intercept values: {by_betas[0]}")

        self.coef = by_betas[1:]
        self.intercept = by_betas[0]

    def predict (self, x_test):
        y = self.intercept + (self.coef[0]*x_test[0]+ self.coef[1]*x_test[1] 
                              + self.coef[2]*x_test[2] )

        print(f"The predicted ouptput is : {y}")

In [96]:
model = myalgo()

In [97]:
model.fit(x_train,y_train)

All Beta values: [ 5.42909299e+04  8.35572576e-01 -5.76184254e-02  1.47328498e-02]
Coeficient value: [ 0.83557258 -0.05761843  0.01473285]
Intercept values: 54290.92985064069

In [98]:
test = np.array([165349.20,	136897.80,	471784.10])

In [110]:
y_pred = model.predict(test)

The predicted ouptput is : 191515.07552476018

In [111]:
y_pred

In [102]:
from sklearn.metrics import r2_score

In [113]:
# r2_score(y_pred , y_test)