# Groupby

In [34]:
import numpy as np
import pandas as pd
from numpy import random

In [22]:
# data = np.random.rand(10,20)

In [27]:
var = pd.DataFrame ({
    "Name": ['a','b','c','d','e','f','g','a','c','d'],
    "Num1": [11,12,13,14,15,16,17,12,15,17],
    "Num2": [21,22,23,24,25,26,27,23,27,29]
})

In [28]:
var

  Name  Num1  Num2
0    a    11    21
1    b    12    22
2    c    13    23
3    d    14    24
4    e    15    25
5    f    16    26
6    g    17    27
7    a    12    23
8    c    15    27
9    d    17    29

In [32]:
var_new= var.groupby("Name")

var_new

In [33]:
for x,y in var_new:
    print (x)
    print (y)

a
  Name  Num1  Num2
0    a    11    21
7    a    12    23
b
  Name  Num1  Num2
1    b    12    22
c
  Name  Num1  Num2
2    c    13    23
8    c    15    27
d
  Name  Num1  Num2
3    d    14    24
9    d    17    29
e
  Name  Num1  Num2
4    e    15    25
f
  Name  Num1  Num2
5    f    16    26
g
  Name  Num1  Num2
6    g    17    27

In [38]:
vb = random.randn (5,4 )  #( rows , columns)
print (vb)

[[ 0.93502723  0.79477336 -0.26289302  0.02647256]
 [-0.25292006 -0.8337406  -2.51583846 -1.88435495]
 [ 1.02193318 -1.48995042  0.57343674  1.72328067]
 [ 0.31096927 -0.01696328  2.02711048 -1.4312116 ]
 [-1.60839006  0.59312318 -0.18139604  0.75556566]]

In [42]:
vb = random.randint (2, 4 ,size = (2,4))
print (vb)

[[2 2 2 3]
 [2 3 3 3]]